{{ define "main" }}
<div class="row">
<div class="col-md-10 col-md-offset-1">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

          <header class="post-header">
		  <h1 class="post-title" id="title" itemprop="name headline">{{ partial "compTitle" (dict "title" .Title "endDate" .Params.endDate "divId" "title" "trunc" 35) }}</h1>
            <p class="post-meta">Competition Closes: <time datetime='{{ .Date.Format "Jun 19th 20" }}' itemprop="datePublished">{{ .Params.endDate }}</time></p>
          </header>

          <div class="post-content" itemprop="articleBody">
            <section>
              <h3>Prizes</h3>
              <div id="prizes">
                {{ partial "markdown2html" (dict "section" .Params.prizes "divId" "prizes") }}
              </div>
              <h3>Description</h3>
                <div id="description">
                  {{ partial "markdown2html" (dict "section" .Params.description "divId" "description") }}
                </div>
              <h3>Rules</h3>
                <div id="rules">
                  {{ partial "markdown2html" (dict "section" .Params.rules "divId" "rules") }}
                </div>
              <h3>Judging Criteria</h3>
                <div id="criteria">
                  {{ partial "markdown2html" (dict "section" .Params.criteria "divId" "criteria") }}
                </div>
              </div>
              <br>
             <div class="text-center">
               <a href="{{ .Site.BaseURL }}/admin/#/collections/Draft-Legislation/new?competition={{.File.BaseFileName}}" target="_blank"><button type="button" class="btn btn-secondary btn-lg">Create New Legislation!</button></a>
             </div>
            </section>
            <br>
            <hr>
            <br>
            <section class="post-content">
            <h2>Legislation Submitted For This Competition</h2>
              <!-- Get the baseFileName, which is the slug from Netlify CMS, for comparison in the range below since it will not be available in that context-->
              {{ $competition := .File.BaseFileName }}
              <!-- Check that current page slug is equal to the competition parameter on the legislation -->
              {{ $legislation :=  (where .Site.RegularPages "Params.competition" $competition) }}
              <!-- if pages exist loop them, otherwise display "add new" link -->
              {{ if gt (len $legislation) 0 }}
                {{ range $legislation }}
                  <div class="index-content post">
                    <a href="{{.RelPermalink}}"><h4>{{.Title}}</h4></a>
                    {{ truncate 170 .Params.accomplishes }}<br>
                  </div>
                  <hr>
                {{ end }}
              {{ else }}
               <div class="text-center">
                 <div class="index-content post">
                 - No legislation has been created yet -
                </div>
               </div>
              {{ end }}
            </section>
          </div>

    </article>
    <div class="row">
        {{ if .Site.Params.disqus }}
         {{ partial "disqus.html" . }}
        {{ end }}
    </div>
</div>

</div>


{{ partial "fb-script.html" . }}
{{ end }}
