    <!-- Loop through all competitions --> 
    <h2>Competitions</h2>
    {{ range where .Site.RegularPages "Section" "competition"}}
        <div class="index-content post">
        <a href="{{.RelPermalink}}"><h4>{{.Title}}</h4></a>
        {{ truncate 70 .Params.Description }}<br>
        <a href="{{.Site.BaseURL}}/admin/#/collections/Draft-Legislation/new?competition={{.File.BaseFileName}}" class="button">Submit New Legislation For This Competition</a>
        </div>
    {{ end }}

    {{ if not ($.Scratch.Get "paginatedSections") }}
        {{ if .Site.Params.paginatedsections }}
            {{ $.Scratch.Set "paginatedSections" .Site.Params.paginatedsections }}
        {{ else }}
            {{ $.Scratch.Set "paginatedSections" "post" }}
        {{ end }}
    {{ end }}

    {{ $list := where .Data.Pages "Section" "in" ($.Scratch.Get "paginatedSections") }}
    {{ $list := where $list "Section" "!=" "" }}
    {{ $paginator := .Paginate ( $list ) }}

    <div class="extra-pagination inner">
        {{ partial "pagination.html" $paginator }}
    </div>

    {{ range $index, $page := $paginator.Pages }}
        {{ partial "li.html" . }}
    {{ end }}

    {{ partial "pagination.html" $paginator }}
