    <!-- Loop through all competitions --> 
    {{ range where .Site.RegularPages "Section" "competition"}}
      {{ if eq .Type "home" }}
        {{ .Content }}
      {{ end }}
          <div class="index-content post">
          <a href="{{.RelPermalink}}">{{.Title}}</a>
          {{.Summary}}
          <a href="{{.Site.BaseURL}}/admin/#/collections/Draft-Legislation/new?competition={{.Title}}" class="button">Submit New Legislation</a>
          <a href="{{.Site.BaseURL}}/legislation?competition={{.Title}}" class="button">View Legislation for This Competition</a>
          </div>
    {{ end }}

    {{ if not ($.Scratch.Get "paginatedSections") }}
        {{ if .Site.Params.paginatedsections }}
            {{ $.Scratch.Set "paginatedSections" .Site.Params.paginatedsections }}
        {{ else }}
            {{ $.Scratch.Set "paginatedSections" "post" }}
        {{ end }}
    {{ end }}

    {{ $list := where .Data.Pages "Section" "in" ($.Scratch.Get "paginatedSections") }}
    {{ $list := where $list "Section" "!=" "" }}
    {{ $paginator := .Paginate ( $list ) }}

    <div class="extra-pagination inner">
        {{ partial "pagination.html" $paginator }}
    </div>

    {{ range $index, $page := $paginator.Pages }}
        {{ partial "li.html" . }}
    {{ end }}

    {{ partial "pagination.html" $paginator }}
