@import "./_base.scss";

html {
  overflow-y: scroll;
}

body {
  word-wrap: break-word;
  font-family: trebuchet ms,Verdana,verdana ref,segoe ui,Candara,lucida grande,lucida sans unicode,lucida sans,Tahoma,sans-serif;
  color: #444444 !important;
  background-color: $background-color !important;
}

.site {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

@import "./_drafter.scss";
@import "./_legislation.scss";
@import "./_explainer.scss";
@import "./_contest.scss";
@import "./_checkout.scss";
@import "./_hero.scss";
@import "./_editor.scss";
@import "./_login.scss";
@import "./_footer.scss";
@import "./_about.scss";
@import "./_header.scss";
@import "./_splitPane.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
