.drafter-panel {
  min-height: 400px;
  border-top: 6px solid #40e0d0;
}
.sponsor-panel {
  min-height: 400px;
  background-color: #f4f4f4;
  border-top: 6px solid #40e0d0;
}

.explainer {
  border-bottom: 3px solid #f4f4f4;
}
